.current {
    border: #03144e;
    border: 2px solid;
    padding: 10px;
    right: 300%;
    width: 100%;
    position:relative; 
    left:350px; 
    top:-150px;
}
h3  {
    position:relative; 
    left:370px; 
    top:-400px;
}

 .forecast{
    border: #03144e;
    border: 2px solid;
    background-color: #030e31 ;
    color: #ffffff;
    width: 18%;
    /* display: grid;
    justify-content: space-evenly; */
    margin: 1px;
    padding: 10px;
    margin-left: 20px;
    position:relative; 
    left:350px; 
    top:-100px;
    vertical-align: top;
}

.container{
    border: #03144e;
    border: 2px solid;
    background-color: #030e31 ;
    color: #ffffff;
    width: 18%;
}

#search-button {
    background-color: rgb(39, 167, 213);
    width: 190px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 8px;
    vertical-align: top;
}

#hist-buttons {
    display: grid;
    flex-direction: column;
    position:relative; 
    left:-335px; 
    top:125px;
    
}

.savedCity {
    display: inline-block;
    background-color: #757b7d;
    width: 190px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 8px;
    border-style: none;
    padding: 5px;
    
}






