.current {
    padding: 10px;
}

 .forecast{
    background-color: #030e31 ;
    color: #ffffff;
    width: 18%;
    display: grid;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
}

#search-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(39, 167, 213);
    color: #ffffff;
    width: 190px;
    cursor: pointer;

}

.savedCity {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:  5px 10px;
    border-radius: 8px;
    border: none; 
  outline: none; 
    background-color: grey;
    color: white;
    width: 190px;
    cursor: pointer;
  }
  
  .savedCity:hover {
    background-color: darkgrey;
  }
  



/* border around current weather*/
/* border around each day of 5 day forecast
  